streamlit
streamlit-chat
pandas
requests
nltk
spacy==3.7.2 
thinc==8.2.2
easyocr
ffmpeg-python
python-docx
pdfplumber
sentence-transformers
faster-whisper
torch
numpy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
